[user]
	name = Bradley Mackey
    email = bradleymackey@me.com
[github]
	user = bradleymackey
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[merge]
    tool = nvim -d
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	c = commit
	s = status
	st = status
	lg = log --oneline
	last = log -1 HEAD
	f = push --force-with-lease
	# https://stackoverflow.com/a/11688523/472927
	ss = "!f() { git stash show stash^{/$*} -p; }; f"
	sa = "!f() { git stash apply stash^{/$*}; }; f"
	sl = stash list
[pull]
	ff = only
[push]
	default = simple
[help]
	autocorrect = 1
[protocol]
	version = 2

