[submodule "home/.config/base16-shell"]
	path = home/.config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "home/.config/swift_po"]
	path = home/.config/swift_po
	url = git@github.com:kastiglione/swift_po.git
